.grid {
  font-size: 0;
  pointer-events: unset;

  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 2%);
  /*   top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.grid-visualizing {
  font-size: 0;
  pointer-events: none;

  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 2%);
}
.analytics-panel {
  background-color: #1e1e1e;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  width: 220px;
  margin: 10px auto;
  font-size: 14px;
}

.analytics-panel h3 {
  margin-bottom: 8px;
  font-size: 16px;
}
.step-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
.node-current {
  background-color: red !important;
}
.node-step-visited {
  background-color: #f1c40f !important; 
}



.step-controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 12px 0;
}

.btn {
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}


.btn-step-start {
  background-color: #2ecc71;
  color: #111;
}

.btn-step-start:hover:not(:disabled) {
  background-color: #27ae60;
}


.btn-step-next {
  background-color: #3498db; 
  color: white;
}

.btn-step-next:hover {
  background-color: #2980b9;
}


.btn:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
  opacity: 0.6;
}
